$screen-small: 0;
$screen-medium:576px; 
$screen-large: 768px;
$screen-xlarge:992px; 
$screen-xxlarge:1200px; 
$screen-xxxlarge:1400px; 
@mixin media-query-small {
  @media screen and (min-width: $screen-small) {
    // Mobile - 0px and above
    @content;
  }
}

@mixin media-query-medium {
  @media screen and (min-width: $screen-medium) {
    // iPad - 768px and above
    @content;
  }
}

@mixin media-query-large {
  @media screen and (min-width: $screen-large) {
    // Desktop - 1024px and above
    @content;
  }
}

@mixin media-query-xlarge {
  @media screen and (min-width: $screen-xlarge) {
    // Desktop - 1280px and above
    @content;
  }
}

@mixin media-query-xxlarge {
  @media screen and (min-width: $screen-xxlarge) {
    // Desktop - 1440px and above
    @content;
  }
}

@mixin media-query-xxxlarge {
  @media screen and (min-width: $screen-xxxlarge) {
    // Desktop - 1800px and above
    @content;
  }
}
